.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

mat-card {
    margin-top: 20px;
}

.full-width {
  width: 100%;
  max-width: 100% !important;
}

form {
  margin-top: 20px !important;
}

.mt {
  margin-top: 2% !important;
}
