################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuddyGuard/.vs/BuddyGuard/FileContentIndex/b85ba69b-f97d-4ea1-9713-9eb00211e604.vsidx
