################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuddyGuard/.vs/BuddyGuard/FileContentIndex/b85ba69b-f97d-4ea1-9713-9eb00211e604.vsidx
/BuddyGuard/.vs/BuddyGuard/FileContentIndex/fe9fe6fc-4cc9-4812-81e4-49cc66ff0c18.vsidx
/BuddyGuard/.vs/BuddyGuard/FileContentIndex/6f9cbcba-4228-456f-af29-bd169feb0583.vsidx
