mat-sidenav {
    margin-top: 10em !important;
    margin-left: 2%;
    box-shadow: none !important;
}

.btn {
  color: white;
  font-size: 18px;
  width: 200px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
}
