img {
  width: 100%;
  margin-top: 1px;
}

.min-width {
    min-width: 300px;
}

.smallimg {
    width: 40%;
    min-width: 300px;
}

.mediumimg {
    width: 50%;
    min-width: 300px;
}

.insertable {
  position: relative;
  margin-top: 60px;
}

  /* Make the image responsive */
  .insertable img {
    height: auto;
  }

  /* Style the button and place it in the middle of the insertable/image */
  .insertable .btn {
    position: absolute;
    color: white;
    font-size: 2.8vw;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 35px;
  }

  .btn {
      margin-left: 2%;
      margin-top: 5%;
  }

.center {
  padding-top: 3%;
  text-align: center;
  overflow-wrap: break-word;
}

.p {
  padding-left: 30%;
  padding-right: 30%;
}

.justify-center {
    justify-content: center;
    display: flex;
}

.relative {
  width: 12%;
  left: 10%;
  position: absolute;
}
