<div class="container">
  <div class="justify-center">
    <img class="smallimg min-width" src="../../../assets/pics/2.webp" />
  </div>
  <div class="insertable justify-center">
    <mat-chip matRipple routerLink="request" selected class="btn">
      Заяви услуга
    </mat-chip>
    <mat-chip matRipple routerLink="process-request" selected class="btn" *ngIf="role === 'Admin'">
      Заявени услуги
    </mat-chip>
    <img src="../../../assets/pics/main.png" />
  </div>
  <div class="center" ngClass.gt-sm="p">
    <h2 class="brown">
      Налага се да отсъстваш, а няма кой да се грижи за домашните любимци? Искаш индивидуална грижа, съобразена с техния ритъм на живот?
    </h2>
  </div>

  <div class="justify-center">
    <img class="mediumimg" src="../../../assets/pics/Услугата включва.webp" />
  </div>
  <div class="center" ngClass.gt-sm="p">
    <h2 class="brown">
      Докато си далеч от дома, екипът на <em>BuddyGuard</em> ще се погрижи домашните любимци да получат нужното внимание, игри, грижа и любов в комфортната за тях среда - техния дом.
    </h2>
  </div>
  <div class="justify-center">
    <img class="smallimg" src="../../../assets/pics/Copy of Copy of 1 котка.webp" />
  </div>
  <div class="center" ngClass.gt-sm="p">
    <h2 class="brown">
      Нашата умна камера <em>BuddyCam</em> предоставя възможността да общуваш с животинчето директно през мобилно устройство, както и да наблюдаваш имота си по всяко време.
    </h2>
  </div>

</div>
