<!--<div fxLayoutAlign="center center">
  <form [formGroup]="form"
        class="example-form"
        fxLayout="column"
        fxLayoutGap="1em">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Имейл адрес</mat-label>
      <input matInput placeholder="Вашият имейл адрес"
             formControlName="emailControl">
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Телефон</mat-label>
      <input formControlName="phoneControl" matInput placeholder="Вашият телефон">
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Три Имена</mat-label>
      <input formControlName="nameControl" matInput placeholder="Вашите три имена">
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>В кой квартал/район живее домашният любимец</mat-label>
      <input formControlName="locationControl" matInput placeholder="Квартал/район">
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Име и вид/порода на домашния любимец</mat-label>
      <input formControlName="speciesControl" matInput placeholder="Име и вид/порода">
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <div fxLayout="column"
         fxLayoutGap="1em">
      <mat-label>*Ако желаеш да поемем грижи за повече от един домашен любимец, пример: 2 котки и 1 куче, молим да посочиш долу в свободен текст   </mat-label>
      <div fxLayout="row"
           fxLayoutGap="2em">
        <div fxLayout="column"
             fxLayoutGap="1em">
          <div class="example-ripple-container mat-elevation-z4"
               matRipple>
            <img src="https://lh5.googleusercontent.com/kxVbh5VFgGAFoyx-q9r7HyL81KwygJllEsCkF3ZuKO1LGmS32g-nkKK3WdSCm9SIykhpRAk0DHMvXxBkXuIJqM2vMrDVEoTAU2Ow02AtEjGp6TircwzDA6YCuWtFKWuuhQ" alt="Alternate Text" />
          </div>
          <mat-checkbox class="example-margin">Куче до 10кг</mat-checkbox>
        </div>
        <div fxLayout="column"
             fxLayoutGap="1em">
          <div class="example-ripple-container mat-elevation-z4"
               matRipple>
            <img src="https://lh5.googleusercontent.com/kG18zKgoUkMLB0IFPwqz31vp2tQnvH5bqcyU69QxGGYheaTGFzQkDOD2i7lGEZDrvksiw4h6wHgt3t12hCeGZXWvG2G-BVWoqg5TQbqLx62FN0-kennqmvG1o758FHmHSw" alt="Alternate Text" />
          </div>
          <mat-checkbox class="example-margin">Куче над 10кг</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row"
           fxLayoutGap="2em">
        <div fxLayout="column"
             fxLayoutGap="1em">
          <div class="example-ripple-container mat-elevation-z4"
               matRipple>
            <img src="https://lh6.googleusercontent.com/CnS_gORLosOwMLMBeOFKYCDNUlpt4CQ_kFpaSjBhg7wk9yIrprcC7YhXp6_BF9iBnhbo8OL5fUueMV8jsSLOBqgjbHYUUckStFKm7OqU4SXODJJmvkXwIlwjMNmDvS6OeA" alt="Alternate Text" />
          </div>
          <mat-checkbox class="example-margin">Котка</mat-checkbox>
        </div>
        <div fxLayout="column"
             fxLayoutGap="1em">
          <div class="example-ripple-container mat-elevation-z4"
               matRipple>
            <img src="https://lh6.googleusercontent.com/k4eA8IAn2nvjX8LXIsUCNyGkeT60dzTP9yjmZPtA6iW6Yye_xoQDoEbK3H7vVFywUWppjaxda255rFcRQPcOrYMs_XQ71D5rlz8JHVUxOQ1t5bwCL1qTXq-iUwL3Ca28UQ" alt="Alternate Text" />
          </div>
          <mat-checkbox class="example-margin">Друго</mat-checkbox>
        </div>
      </div>
    </div>
    <mat-hint>* Само за кучета</mat-hint>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Времетраене на разходките</mat-label>
      <input formControlName="dogWalkControl" matInput placeholder="Времетраене">
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <mat-label>Начало на грижите</mat-label>
    <mat-form-field class="example-full-width" appearance="fill" (click)="picker.open()">
      <mat-label>Изберете дата</mat-label>
      <input formControlName="startControl" readonly matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <mat-label>Край на грижите</mat-label>
    <mat-form-field class="example-full-width" appearance="fill" (click)="pick.open()">
      <mat-label>Изберете дата</mat-label>
      <input formControlName="endControl" matInput readonly [matDatepicker]="pick">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
      <mat-datepicker #pick></mat-datepicker>
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        Имейл адресът е <strong>задължителен</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="submitForm()">Изпращане</button>
  </form>
</div>-->

<div fxLayoutAlign="center center">
  <mat-stepper linear #stepper>
    <!-- #docregion editable -->
    <mat-step [stepControl]="FormArrayControls" [editable]="true">
      <!-- #enddocregion editable -->
      <div>
        <form [formGroup]="form">
          <mat-card class="mat-elevation-z10 outline">
            <!-- #docregion step-label -->
            <ng-template matStepLabel>Информация за домашните любимци</ng-template>
            <!-- #enddocregion step-label -->
            <div *ngFor="let animal of FormArrayControls.controls; let i = index">
              <mat-card class="full-width mt" fxLayoutAlign="center center">
                <div formArrayName="animalArrayControl" fxLayout="column" fxFlex="70">
                  <mat-card-title fxFlexAlign="center">Основна информация</mat-card-title>
                  <div [formGroupName]="i">
                    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1em">
                      <mat-form-field appearance="fill">
                        <mat-label>Име</mat-label>
                        <input matInput formControlName="nameControl" placeholder="Име">
                      </mat-form-field>
                      <mat-form-field appearance="fill" fxFlex="100">
                        <mat-label>Какъв вид е Вашето животно?</mat-label>
                        <mat-select (selectionChange)="onAnimalTypeSelectionChange($event, i)" formControlName="animalTypeControl" #animalType>
                          <mat-option *ngFor="let animalType of animalTypes" [value]="animalType">
                            {{ animalType.displayName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <ng-container [ngTemplateOutlet]="isOthersSelected(i) === undefined ? empty : isOthersSelected(i) === true ? description : species">
                      </ng-container>
                      <ng-template #empty></ng-template>
                      <ng-template #description>
                        <mat-form-field appearance="fill" fxFlex="100">
                          <mat-label>Моля опишете домашния си любимец</mat-label>
                          <input matInput formControlName="descriptionControl" placeholder="Име">
                        </mat-form-field>
                      </ng-template>
                      <ng-template #species>
                        <mat-form-field appearance="fill" fxFlex="100">
                          <mat-label>Порода</mat-label>
                          <input matInput formControlName="speciesControl" placeholder="Каква е породата на Вашия домашен любимец?">
                        </mat-form-field>
                      </ng-template>
                    </div>
                    <div *ngIf="isVisible[i]">
                      <mat-divider></mat-divider>
                      <div fxLayout="column">
                        <mat-card-title fxFlexAlign="center">Услуги</mat-card-title>
                        <mat-form-field appearance="fill" *ngIf="FormArrayControls.at(i).get('animalTypeControl')!.value.displayName !== 'Котка'">
                          <mat-label>Брой разходки</mat-label>
                          <mat-select formControlName="dogWalkLengthControl">
                            <mat-option *ngFor="let service of petWalkLengths[i]" [value]="service">
                              {{ service.displayName }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Допълнителни услуги</mat-label>
                          <mat-select multiple formControlName="animalServiceControl">
                            <mat-option *ngFor="let service of animalServices[i]" [value]="service">
                              {{ service.displayName }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>

          </mat-card>
        </form>
      </div>
      <div class="mt" fxLayoutAlign="space-between">
        <div dir="ltr">
          <button mat-raised-button color="accent" (click)="addAnimal()">Добавяне на животно</button>
        </div>
        <div dir="rtl">
          <button mat-raised-button color="accent" matStepperNext>Напред</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="dateLocationGroup" [editable]="true">
      <div>
        <form [formGroup]="dateLocationGroup">
          <mat-card class="mat-elevation-z10 outline" fxLayoutAlign="center">
            <ng-template matStepLabel>Информация за периода на услугите и мястото</ng-template>
            <div fxLayout="column" fxLayoutGap="1em" fxFlex="70">
              <mat-label>Начало на грижите</mat-label>
              <mat-form-field appearance="fill" (click)="picker.open()">
                <mat-label>Изберете дата</mat-label>
                <input formControlName="startDateControl" readonly matInput [matDatepicker]="picker" [max]="minStartDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="0.9em">
                <mat-label>Край на грижите</mat-label>
                <mat-hint>* включително</mat-hint>
              </div>
              <mat-form-field appearance="fill" (click)="pick.open()">
                <mat-label>Изберете дата</mat-label>
                <input formControlName="endDateControl" readonly matInput [matDatepicker]="pick" [min]="maxEndDate">
                <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
                <mat-datepicker #pick></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Квартал/Район</mat-label>
                <input type="text" matInput formControlName="locationControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let location of locations" [value]="location">
                    {{ location.displayName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance="fill" (click)="meeting.open()">
                <mat-hint>* Ако не изберете ден и час, ще се свържем с Вас най-късно 24 часа преди определената начална дата на грижите за уговаряне на среща</mat-hint>
                <mat-label>Предпочитана дата за първоначална среща</mat-label>
                <input formControlName="meetingDateControl" readonly matInput [matDatepicker]="meeting">
                <mat-datepicker-toggle matSuffix [for]="meeting"></mat-datepicker-toggle>
                <mat-datepicker #meeting></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-card>
        </form>
      </div>
      <div class="mt" fxLayoutAlign="space-between">
        <div dir="ltr">
          <button mat-raised-button color="accent" matStepperPrevious>Назад</button>
        </div>
        <div dir="rtl">
          <button mat-raised-button color="accent" matStepperNext>Напред</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="form" [editable]="false">
      <div>
        <form [formGroup]="form">
          <mat-card class="mat-elevation-z10 outline" fxLayout="column" fxLayoutGap="1em">
            <ng-template matStepLabel>Допълнителни услуги</ng-template>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
              <mat-label fxFlex="50">Ако желаете допълнителни услуги, моля изберете от следните опции:</mat-label>
              <mat-form-field class="mt" appearance="fill" fxFlex="50" style="max-width: 100%">
                <mat-select multiple formControlName="customerServiceControl">
                  <mat-option *ngFor="let service of clientServices" [value]="service">
                    {{ service.displayName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-label>Ако не откривате услугата, от която имате нужда, попълнете полето:</mat-label>
            <mat-form-field appearance="fill" fxFlex="100">
              <textarea #message maxlength="200" matInput formControlName="commentControl" placeholder="Оставете коментар"></textarea>
              <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
            </mat-form-field>
            <h3 fxFlexAlign="end">Финална цена: {{ finalPrice.toFixed(2) }}</h3>
          </mat-card>
        </form>
      </div>
      <div class="mt" fxLayoutAlign="space-between">
        <div dir="ltr">
          <button mat-raised-button color="accent" matStepperPrevious>Назад</button>
        </div>
        <div dir="rtl">
          <button mat-raised-button color="primary" (click)="submitForm()">Изпращане на заявка</button>
        </div>
      </div>
    </mat-step>
    <!--<mat-step [stepControl]="form" [editable]="true">
      <form [formGroup]="form">
        <ng-template matStepLabel>Информация за домашния любимец</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Адрес</mat-label>
          <input matInput
                 formControlName="locationControl"
                 placeholder="Ex. 1 Main St, New York, NY"
                 required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>-->
  </mat-stepper>

</div>
