
<div>
  <div class="fixed max-width scrollable">
    <mat-toolbar class="nav">
      <div fxLayoutAlign="space-between center" fxFlex="100">
        <div fxLayoutAlign="space-around center" fxLayout="row">
          <button mat-icon-button (click)="emitEventToChild()"><mat-icon>menu</mat-icon></button>
          <div>
            <img routerLink="/" src="https://static.wixstatic.com/media/3df67c_cb863e11b4b84f02be5becddd8bbf49d~mv2.png/v1/fill/w_475,h_90,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Buddy%20Guard%20-%20Horizontal.png" />
          </div>
        </div>
        <div>
          <button class="brown navbtn"><span>Разбери повече</span></button>
          <button class="brown navbtn" routerLink="/buddies" *ngIf="role">Buddies</button>
          <button *ngIf="role === 'Admin'" class="brown navbtn" [matMenuTriggerFor]="menu">Известия</button>
          <button *ngIf="!role ?? true" class="brown navbtn" routerLink="login"><span>Влез</span></button>
          <button *ngIf="!role ?? true" class="brown navbtn" routerLink="register"><span>Регистрирай се</span></button>
          <button *ngIf="role ?? false" class="brown navbtn" routerLink="/" (click)="logout()">Излез</button>
          <mat-menu class="gap oval-border" #menu="matMenu">
            <div>
              <p>
                <mat-toolbar color="primary" class="notification-title" fxLayoutAlign="start center">
                  <span>Нотификации</span>
                </mat-toolbar>
              </p>
            </div>
            <div *ngFor="let notification of notifications">
              <div fxLayout="row"
                   fxLayoutAlign="center center"
                   class="notification-margin">
                <mat-icon class="smallIcon" fxFlex="5">mail</mat-icon>
                <div fxFlex="80" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10">
                  <p>Имате нова заявка за {{ datePipe.transform(notification.startDate, 'dd/MM/yyyy') }}</p>
                  <mat-card-subtitle>{{ notification.sentDate!.toLocaleString() | timeAgo }}</mat-card-subtitle>
                </div>
                <div fxFlex="10" fxLayoutAlign="start end">
                  <button mat-mini-fab color="primary" class="read-btn">
                  </button>
                </div>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>

  </div>
  <mat-sidenav-container style="left: -7px;" autosize>
    
    <mat-sidenav-content @flyInOut fxFlexLayout="center end">

      <mat-icon (click)="scrollUp()" class="transform" color="accent">keyboard_arrow_up</mat-icon>
<app-sidenav [events]="eventsSubject.asObservable()">
</app-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
