
  mat-sidenav-container {
    background-color: white;
    height: 100%;
    margin-top: -5px;
    display: inline-block !important;
}

mat-sidenav-content {
    margin-top: 90px;
}

.transform {
  display: flex;
  font-size: 115px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 117px;
  height: 114px;
  border: solid;
  border-radius: 50%;
  cursor: pointer;
  border-color: orange;
}

.nav {
  background-color: white !important;
  margin-top: 10px;
  height: auto !important;
}

img {
    width: 100%;
    min-width: 100px;
    cursor: pointer;
}

.max-width {
    width: 100% !important;
    background-color: white;
}

::deep #mat-menu-panel-0 > div {
  padding-left: 15px;
  padding-right: 15px;
}

.smallIcon {
    font-size: 12px;
}

.fixed {
    position: fixed;
    z-index: 1;
}

.btn {
  color: white;
  font-size: 20px;
  display: absolute;
  border: none;
  cursor: pointer;
  border-radius: 35px;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
  max-height: none !important;
}

@media (min-width: 30px) {
  .navbtn {
    background-color: transparent;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: max(3vw, min(20px, 50px));
    margin: 10px;
    border: hidden;
    cursor: pointer;
  }
}

.brown {
  color: #683C39;
}

.mt {
  margin-top: 250px;
  margin-left: 10px;
}

.mtxs {
  margin-top: 250px;
  margin-left: 10px;
  width: 100px;
}

