<div class="container" fxLayout="column" fxLayoutGap="2em">
  <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-around end" fxLayoutAlign.lt-md="end center" fxLayoutGap.lt-md="2em">

      <a href="./price#dog" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
        <img fxFlex="50" class="resize-lg" src="..\..\..\assets\pics\dogs.png" alt="Alternate Text" />
        <mat-chip fxFlex="50" color="accent" selected class="btn">
          Кучета
        </mat-chip>
      </a>
    <a href="./price#cat" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex="50" class="resize-lg" src="..\..\..\assets\pics\cats.png" alt="Alternate Text" />
      <mat-chip fxFlex="50" color="accent" selected class="btn">
        Котки
      </mat-chip>
    </a>
    <a href="./price#others" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex="50" class="resize" src="..\..\..\assets\pics\others.png" alt="Alternate Text" />
      <mat-chip fxFlex="50" color="accent" selected class="btn">
        Други
      </mat-chip>
    </a>
  </div>
  <div fxLayoutAlign="center center">
    <p class="text-lg">Ние от <strong class="brown">BuddyGuard</strong> вярваме, че всеки домашен любимец и неговият човек имат строго индивидуални нужди и предпочитания. Именно затова, ние се стараем да предлагаме различни видове разходки, както и допълнителни услуги. </p>
  </div>
  <div fxLayout.lt-md="column" fxLayoutGap="1em">
    <a href="./price#dog-cam" fxLayout="column" fxFlex="30" fxLayoutGap="1em">
      <img fxFlexOffset="10" class="cam-img" src="..\..\..\assets\pics\camera.png" alt="Alternate Text" />
      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <img src="..\..\..\assets\pics\BuddyCam.png" alt="Alternate Text" />
        <img src="..\..\..\assets\pics\arrows-right.png" alt="Alternate Text" />
      </div>
    </a>
    <div fxLayout="column" fxLayoutGap="2em" fxFlex="70">
      <p class="text-md">Ако например ще <strong class="brown">отсъстваш по-дълго</strong> или просто искаш <strong class="brown">максимална сигурност</strong>, то можеш да се възползваш от услугата, включваща видеонаблюдение. BuddyCam е умна камера, чрез която ти имаш 360° поглед към това, което се случва вкъщи докато отсъстваш.</p>
      <p class="text-md">Да не пропускаме, че също така камерата разполага с <strong class="brown">нощно виждане</strong>, както и <strong class="brown">пряка аудио връзка</strong>.  Тя ти дава възможността да <strong class="brown">наблюдаваш дома</strong> и <strong class="brown">домашния любимец</strong> 24/7 директно през смартфона си. </p>
    </div>
  </div>
  <div fxLayout.lt-md="column" fxLayoutAlign="space-around" fxLayoutGap="1em">
    <div fxLayout="column" fxLayoutGap="2em" fxFlex="50">
      <p class="text-md">Независимо каква е причината за избора ти, предлаганата от нас услуга без камера е икономичен и практичен вариант. Избирайки тази опция, <strong class="brown">ти ще получаваш снимки, видеа и споделена локация</strong> по време на разходките.</p>
    </div>
    <a href="./price#dog" fxLayout="column" fxFlex="20" fxLayoutGap="1em">
      <img class="cam-img" src="..\..\..\assets\pics\no-camera.png" alt="Alternate Text" />
      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <img fxFlexOffset="-40" src="..\..\..\assets\pics\arrows-left.png" alt="Alternate Text" />
        <img src="..\..\..\assets\pics\BuddyCam.png" alt="Alternate Text" />
      </div>
    </a>
  </div>
  <div id="dog">
    <img src="..\..\..\assets\pics\dog-cam.png" alt="Alternate Text" />
  </div>
  <div id="dog-cam">
    <img src="..\..\..\assets\pics\services.png" alt="Alternate Text" />
  </div>
  <div id="cat">
    <img src="..\..\..\assets\pics\cat-visit-cam.png" alt="Alternate Text" />
  </div>
  <div>
    <img src="..\..\..\assets\pics\services-cat.png" alt="Alternate Text" />
  </div>
  <div id="others">
    <img src="..\..\..\assets\pics\others-cam.png" alt="Alternate Text" />
  </div>
  <div>
    <img src="..\..\..\assets\pics\others-service.png" alt="Alternate Text" />
  </div>
</div>
