<div class="underline" fxLayout="row"
     fxLayoutAlign="center end"
     fxLayoutAlign.lt-sm="start"
     fxLayoutGap="4em"
     fxLayoutGap.lt-sm="1em">
  <div fxLayout="column"
       fxLayoutAlign="center start">
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="0.5em">
      <mat-icon style="width: 40px; height:40px; font-size: 40px">phone_outline</mat-icon>
      <h3 class="brown" style="font-size: 2vw">+359 877 882390</h3>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="0.5em">
      <mat-icon style="width: 40px; height:40px; font-size: 40px">mail</mat-icon>
      <h3 class="brown">buddyguard@uindv.com</h3>
    </div>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="center start">
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="2em">
      <ic-icon [icon]="fbIcon" width="6em" height="6em"></ic-icon>
      <ic-icon [icon]="instaIcon" width="6em" height="6em"></ic-icon>
    </div>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="center center">
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="0.5em">
      <h3 class="brown">Политика за поверителност</h3>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="0.5em">
      <h3 class="brown">Общи условия</h3>
    </div>
  </div>
</div>
