<!--<div class="container">
  <div *ngFor="let progressInfo of progressInfos">
    <span>{{ progressInfo.fileName }}</span>
    <mat-toolbar class="progress-bar">
      <mat-progress-bar color="accent"
                        [value]="progressInfo.value"></mat-progress-bar>
      <span class="progress">{{ progressInfo.value }}%</span>
    </mat-toolbar>
  </div>

  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput readonly [value]="selectedFileNames.length ? selectedFileNames : 'Select Images'" />

        <button style="z-index: 2;"
                mat-flat-button
                color="primary"
                [disabled]="!selectedFiles"
                (click)="uploadFiles()">
          Upload
        </button>
      </mat-toolbar>

      <input style="width: 100%; z-index: 1;"
             type="file"
             id="fileInput"
             name="fileInput"
             accept="image/*" multiple
             (change)="selectFiles($event)" />
    </div>
  </mat-form-field>

  <div>
    <img *ngFor='let preview of previews' [src]="preview" class="preview">
  </div>

  <div *ngIf="message.length" class="message">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
  </div>

  <mat-card class="list-card">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Приятелчета, за които сме се грижили</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" class="list-item">
          <img [src]="images[0]" />
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>-->
<div class="container" *ngIf="role && role === 'Admin'" [formGroup]="form">
  <mat-card class="add-photo-card" fxLayout="column">
    <div fxLayoutAlign="center center">
      <mat-card-header>
        <mat-card-title>Добавяне на снимка</mat-card-title>
      </mat-card-header>
    </div>
    <div fxLayoutAlign="center center">
      <mat-form-field fxFlex="50">
        <input matInput [(ngModel)]="imageDescription" placeholder="Описание" formControlName="descriptionControl">
      </mat-form-field>
    </div>
    <div fxLayoutAlign="center center">
      <div fxFlex="50">
        <label for="formFile" class="form-label">Снимка</label>
        <input #imageInput class="form-control" type="file" id="formFile" (change)="imageInputChange(imageInput)" accept="image/*" formControlName="imageControl">
        <mat-error *ngIf="form.get('imageControl')!.touched && form.get('imageControl')!.dirty && form.get('imageControl')!.hasError('required')" fxLayoutAlign="start">
          Трябва да изберете снимка
        </mat-error>
      </div>
    </div>
    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="addImage()">Добави</button>
    </div>
    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="getImages()">Get Images</button>
    </div>
  </mat-card>
</div>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2 class="brown"><strong>Приятелчета, за които сме се грижили:</strong></h2>
  <!--<div fxLayout="row wrap" fxLayoutAlign="end">
    <div class="mt" fxFlex="30" *ngFor="let image of images">
      <div fxLayoutAlign="space-between">
        <button mat-mini-fab color="accent">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <img fxFlex="70" [src]="image.link" alt="Alternate Text" />
    </div>
  </div>-->
  <div class="d-flex flex-wrap" fxLayoutAlign="center">
    <div *ngFor="let img of images" class="card m-3">
      <button mat-mini-fab color="accent" (click)="deleteImage(img.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <img class="original"
           [alt]="img.link"
           [src]="img.link" />
    </div>
  </div>
</div>
